<div cdkDropList
    (cdkDropListDropped)="drop($event)"
    id="{{id}}"
    [cdkDropListData]="items"
    [cdkDropListConnectedTo]="connectedTo"
    [cdkDropListDisabled]="!sortable"
    [ngClass]="{'emptyList': items?.length === 0, 'nonEmptyList': items?.length > 0}"
    [@inOutAnimation]
    *ngIf="!collapsed">

    <div *ngIf="items?.length === 0" class="text-center pt-5" style="color:grey;">Drop items here</div>

    <div class="list-group list-group-root list-group-flush"
        *ngFor="let item of items"
        cdkDropListGroup
        cdkDrag
        [cdkDragData]="item"
        [cdkDragDisabled]="item.editing">

        <button class="list-group-item text-center" *cdkDragPlaceholder>
            <fa-icon [icon]="faChevronDown" style="color: black;"></fa-icon>
        </button>

        <button class="list-group-item list-group-item-action"
            (click)="!item.editing && select(item)"
            [class]="item.class"
            (mouseenter)="item.hovering = true;"
            (mouseleave)="item.hovering = false;">

            <div *ngIf="item.editing"
                class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary"
                        type="button"
                        [cpAlphaChannel]="'always'"
                        [cpOutputFormat]="'rgba'"
                        [cpPresetColors]="['#fff', '#2889e9']"
                        [cpAddColorButton]="true"
                        [cpUseRootViewContainer]="true"
                        [(colorPicker)]="item.iconColor">
                        <fa-icon [icon]="faTint"
                            [fixedWidth]="true"
                            [style.color]="item.iconColor"></fa-icon>
                    </button>
                </div>
                <input type="text"
                    class="form-control"
                    placeholder="Edit name"
                    [(ngModel)]="item.title"
                    (click)="$event.stopPropagation()"
                    required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success"
                        type="button"
                        (click)="item.editing = false;$event.stopPropagation()">
                        <fa-icon [icon]="faCheck"
                            [fixedWidth]="true"></fa-icon>
                    </button>
                </div>
            </div>

            <ng-container *ngIf="!item.editing">
                <fa-icon *ngIf="item.icon"
                    [icon]="item.icon"
                    [fixedWidth]="true"
                    [class]="item.iconClass"
                    [style.color]="item.iconColor">
                </fa-icon>

                <flag-icon *ngIf="item.flag"
                    [country]="item.flag"
                    squared></flag-icon>

                {{item.title}}

                <fa-icon *ngIf="item.items || item.sortable"
                    [icon]="faChevronRight"
                    [fixedWidth]="true"
                    [class.rotated]="!item.isCollapsed"
                    [class.notRotated]="item.isCollapsed">
                </fa-icon>

                <a *ngIf="item.subfolders && item.hovering"
                    class="right-icon float-right"
                    (click)="addSubfolder();$event.stopPropagation()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </a>

                <a *ngIf="item.editable && item.hovering"
                    class="right-icon float-right"
                    (click)="editItem(item);$event.stopPropagation()">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </a>
            </ng-container>

        </button>

        <app-menu [sortable]="item.sortable"
            [connectedTo]="item.connectedTo"
            [id]="item.id"
            [items]="item.items"
            [collapsed]="item.isCollapsed"
            *ngIf="item.items || item.sortable"
            (updateConnectedChildLists)="onUpdateConnectedList($event)"
            >
        </app-menu>

    </div>

</div>